LISTS

In [8]:
my_list = [1, 4, 6, 4, 2, 8, 1, 9]
print(my_list.count(2))

1

In [2]:
sum(my_list)

35

In [3]:
max(my_list)

9

In [4]:
min(my_list)

1

In [5]:
5 in my_list

False

In [6]:
if bool(my_list):
    print(my_list[0])

1

In [ ]:
if bool(my_list):
    print(my_list[-1])

In [2]:
l1 = my_list[0:3]

In [3]:
l2 = my_list[::-1]
print(l2)

[9, 1, 8, 2, 4, 6, 4, 1]

In [4]:
l3 = sorted(my_list)
print(l3)

[1, 1, 2, 4, 4, 6, 8, 9]

In [10]:
list(set(my_list))

[1, 2, 4, 6, 8, 9]

In [12]:
my_list.insert(2, 2)
print(my_list)

[2, 1, 2, 4, 6, 4, 2, 8, 1, 9]

In [13]:
my_list.index(8)

7

In [ ]:
bool(my_list)

In [5]:
count = 0
for i in my_list:
    if i%2 == 0:
        count==1

In [6]:
countodd = 0
for i in my_list:
    if i%2 == 1:
        countodd==1

In [9]:
a = [3, 4, 5]
b = [3, 4, 5, 6]
c = a+b

In [12]:
flag = True
for i in a:
    if i not in b:
        flag = False
        break
print(flag)

True

In [13]:
my_list[my_list.index(1)] = 10
print(my_list)

[10, 4, 6, 4, 2, 8, 1, 9]

In [15]:
list(set(my_list))[-2]

9

In [16]:
list(set(my_list))[1]

2

In [ ]:
even = []
for i in my_list:
    if i%2 == 0:
        even.append(i)

In [ ]:
odd = []
for i in my_list:
    if i%2 == 1:
        odd.append(i)

In [ ]:
len(my_list)

In [ ]:
mylist = my_list.copy()

In [17]:
if len(my_list)%2 == 1:
    print(my_list[len(my_list)//2])
else:
    print(my_list[len(my_list)//2], my_list[len(my_list)//2- 1])

2 4

In [18]:
max(my_list[0:3])

10

In [19]:
min(my_list[0:3])

4

In [20]:
my_list.pop(2)

6

In [21]:
my_list == sorted(my_list)

False

In [22]:
l4 = my_list *2

[10, 4, 4, 2, 8, 1, 9, 10, 4, 4, 2, 8, 1, 9]

In [23]:
indeces = []
for i in range(len(my_list)):
    if my_list[i] == 4:
        indeces.append(i)
print(indeces)

[1, 2]

In [24]:
l5 = [None]
l6 = l5 + my_list
print(l6)

[None, 10, 4, 4, 2, 8, 1, 9]

In [26]:
rl = [i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
psum = 0
for i in my_list:
    if i > 0:
        psum+=i

In [27]:
nsum = 0
for i in my_list:
    if i < 0:
        nsum+=i

In [29]:
my_list == my_list[::-1]

False

In [33]:
l10 = []
l8 = my_list[0:3]
l9 = my_list[3:]
l10.append(l9)
l10.append(l8)
print(l10)

[[2, 8, 1, 9], [10, 4, 4]]

In [67]:
ls = set()
for i in my_list:
    if i not in ls:
        ls.add(i)
print(list(ls))

[1, 2, 4, 8, 9, 10]

TUPLES

In [36]:
my_tuple = (1, 4, 6, 4, 2, 8, 1, 9)
my_tuple.count(4)

2

In [37]:
max(my_tuple)

9

In [38]:
min(my_tuple)

1

In [39]:
9 in my_tuple

True

In [40]:
if my_tuple:
    print(my_tuple[0])

1

In [41]:
if my_tuple:
    print(my_tuple[-1])

9

In [42]:
len(my_tuple)

8

In [44]:
new_tuple = my_tuple[0:3]

(1, 4, 6)

In [46]:
yangi_tuple = (list(new_tuple) + list(my_tuple))

[1, 4, 6, 1, 4, 6, 4, 2, 8, 1, 9]

In [47]:
bool(my_tuple)

True

In [48]:
tindeces = []
for i in range(len(my_tuple)):
    if my_tuple[i] == 4:
        tindeces.append(i)
print(tindeces)

[1, 3]

In [49]:
list(set(my_tuple))[-2]

8

In [50]:
list(set(my_list))[1]

2

In [ ]:
t = (1,)

In [51]:
tuple(my_list)

(10, 4, 4, 2, 8, 1, 9)

In [52]:
my_tuple == tuple(sorted(my_tuple))

False

In [53]:
max(my_tuple[0:3])

6

In [54]:
min(my_tuple[0:3])

1

In [55]:
l11 = list(my_tuple)
l11.remove(1)
print(tuple(l11))

(4, 6, 4, 2, 8, 1, 9)

In [58]:
t1 = my_tuple[0:3]
t2 = my_tuple[3:]
t3 = (t1, t2)

In [59]:
t4 = my_tuple * 2

(1, 4, 6, 4, 2, 8, 1, 9, 1, 4, 6, 4, 2, 8, 1, 9)

In [62]:
t5 = tuple(x for x in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [63]:
new_tuple = my_tuple[::-1]

(9, 1, 8, 2, 4, 6, 4, 1)

In [64]:
my_tuple == tuple(new_tuple)

False

In [66]:
ts = set()
for i in my_tuple:
    if i not in ts:
        ts.add(i)
print(tuple(ts))

(1, 2, 4, 6, 8, 9)

SETS

In [1]:
my_set1 = {1, 2, 3, 9}
my_set2 = {2, 3, 4, 10}
my_set1.union(my_set2)

{1, 2, 3, 4, 9, 10}

In [2]:
my_set2.intersection(my_set1)

{2, 3}

In [4]:
my_set1.difference(my_set2)

{1, 9}

In [5]:
my_set1.issubset(my_set2)

False

In [6]:
2 in my_set1

True

In [7]:
len(my_set1)

4

In [11]:
s1 = set(my_list)

In [13]:
my_set1.remove(9)

KeyError: 9

In [ ]:
my_set1.clear

In [14]:
bool(my_set1)

True

In [15]:
s2 = my_set1.symmetric_difference(my_set2)
print(s2)

{1, 4, 10}

In [17]:
my_set1.add(11)
print(my_set1)

{1, 2, 3, 11}

In [19]:
arbit = my_set1.pop()
print(arbit)

2

In [20]:
max(my_set2)

10

In [21]:
min(my_set2)

2

In [23]:
new_set = set()
for i in my_set2:
    if i % 2 == 0:
        new_set.add(i)
print(new_set)

{10, 2, 4}

In [24]:
new_set1 = set()
for i in my_set2:
    if i % 2 == 1:
        new_set1.add(i)
print(new_set1)

{3}

In [26]:
s2 = set(range(10))
print(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
l14 = [1, 2,3,4,5,6, 6, 6]
l15 = [4, 5,6, 7, 8]
s3 = set(l14 + l15)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
my_set2.isdisjoint(my_set1)

False

In [30]:
l16 = list(set(l14))
print(l16)

[1, 2, 3, 4, 5, 6]

In [31]:
len(set(my_list))

6

In [38]:
import random
s4 = set()
for i in range(5):
    s4.add(random.randint(0, 10))
print(s4)

{0, 10, 4, 7}

DICTIONARY

In [2]:
my_dict = {
    "A" : "Mango",
    "C" : "Ananas",
    "B" : "Apple"
}
my_dict.get("A")

'Mango'

In [3]:
"C" in my_dict

True

In [5]:
len(my_dict)

3

In [7]:
list(my_dict.keys())

['A', 'C', 'B']

In [8]:
list(my_dict.values())

['Mango', 'Ananas', 'Apple']

In [10]:
d1 = {
    "D" : 1,
    "E" : 2,
    "F" : 3
}
d1.update(my_dict)
print(d1)

{'D': 1, 'E': 2, 'F': 3, 'A': 'Mango', 'C': 'Ananas', 'B': 'Apple'}

In [11]:
d1.pop("E", None)

2

In [13]:
d1.clear()

In [14]:
bool(d1)

False

In [18]:
print("A : ", my_dict.get("A", None))

A :  Mango

In [20]:
my_dict["A"] = "Mandarin"

{'A': 'Mandarin', 'C': 'Ananas', 'B': 'Apple'}

In [21]:
list(my_dict.values()).count("Apple")

1

In [23]:
new_dict = {}
for k, v in my_dict.items():
    new_dict[v] = k
print(new_dict)

{'Mandarin': 'A', 'Ananas': 'C', 'Apple': 'B'}

In [24]:
keys = []
for k, v in my_dict.items():
    if v == "Ananas":
        keys.append(k)
print(keys)

['C']

In [25]:
a = ["a", "b", "c"]
b = [1, 2, 3]
c = {}
for i in range(len(a)):
    c[a[i]] = b[i]
print(c)

{'a': 1, 'b': 2, 'c': 3}

In [26]:
q = {
    "A" : {"B" : "C"}
}
isinstance(q["A"], dict)

True

In [27]:
q["A"]["B"]

'C'

In [28]:
my_dict.get("f", None)

In [30]:
len(set(my_dict.values()))

3

In [32]:
dict(sorted(my_dict.items()))

{'A': 'Mandarin', 'B': 'Apple', 'C': 'Ananas'}

In [35]:
dict(sorted(my_dict.items(), key= lambda val : val[1]))

{'C': 'Ananas', 'B': 'Apple', 'A': 'Mandarin'}

In [38]:
bool(set(my_dict) & set(c))

False

In [39]:
my_tuple2 = (('a', 1), ('b', 2), ('c', 3))
dict(my_tuple2)

{'a': 1, 'b': 2, 'c': 3}

In [40]:
list(my_dict.items())[0]

('A', 'Mandarin')