In [2]:
#1
a = [1, 2, 3, 4, 3, 4, 2]
b = 4
a.count(b)

2

In [4]:
#2
sum(a)

19

In [5]:
#3
max(a)

4

In [6]:
#4
min(a)

1

In [9]:
#5
print(b in a)
print(5 in a)

True
False

In [10]:
#6
if len(a) == 0:
    print("list is empty")
else:
    print(a[0])

1

In [11]:
#7
if len(a) == 0:
    print("list is empty")
else:
    print(a[-1])

2

In [14]:
#8
new_a = a[0:3]

In [13]:
#9
reverse_a = list(reversed(a))
print(reverse_a)

[1, 2, 3, 4, 3, 4, 2]

In [15]:
#10
sorted_a = sorted(a)
print(sorted_a)

[1, 2, 2, 3, 3, 4, 4]

In [17]:
#11
r_duplicate_a = list(set(a))
print(r_duplicate_a)

[1, 2, 3, 4]

In [29]:
#12
d = 6
ind = 2
a.insert(ind, d)
print(a)

[2, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 3, 4, 3, 2, 1]

In [30]:
#13
a.index(d)

2

In [31]:
#14
bool(a)

True

In [35]:
#15
count = 0
for j in a:
    if j%2 == 0:
        count+=1

print(count)

16

In [37]:
#16
count_odd = 0
for j in a:
    if j%2 == 1:
        count_odd+=1

print(count_odd)

3

In [42]:
#17
my_list = [8, 9, 34, 33]
my_list.extend(a)
yangisi = my_list
print(yangisi)

[8, 9, 34, 33, 2, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 3, 4, 3, 2, 1]

In [46]:
#18
flag = True
for items in a:
    if items not in my_list:
        flag = False
        break
print(flag)

True

In [49]:
#19
a[a.index(3)] = 90
print(a)

ValueError: 3 is not in list

In [52]:
#20
print(sorted(list(set(a)))[-2])

6

In [ ]:
#21
print(sorted(list(set(a)))[1])

In [54]:
#22
only_even = []
for num in a:
    if num%2 == 0:
        only_even.append(num)
print(only_even)

[2, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 90, 4, 90, 2]

In [55]:
#23
only_odd = []
for num in a:
    if num%2 == 1:
        only_odd.append(num)
print(only_odd)

[1]

In [56]:
#24
len(a)

19

In [57]:
#25
a1 = a.copy()

In [62]:
#26
if len(a) % 2 == 1:
    print(a[len(a)//2])
else:
    print(a[len(a)//2], a[(len(a)//2)-1])

6 6

In [63]:
#27
max(a[0:5])

6

In [64]:
#28
min(a[0:5])

2

In [65]:
#29
index2 = 5
if index2<len(a)-1:
    a.pop(index2)

In [67]:
#30
if a == a.sort():
    print(True)
else:
    print(False)

False

In [69]:
#31
yangi_list = a * 2
print(yangi_list)

[1, 2, 2, 2, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 90, 90, 1, 2, 2, 2, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 90, 90]

In [73]:
#32
my_list = [8, 9, 34, 33]
my_list.extend(a)
yangisi = my_list
print(sorted(yangisi))

[1, 2, 2, 2, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 9, 33, 34, 90, 90]

In [76]:
#33
indexes = []
valuee = 6
for i1 in range(len(a)):
    if a[i1] == valuee:
        indexes.append(i1)

print(indexes)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [78]:
#34
a4 = [None]
a4.extend(a)
print(a4)

[None, 1, 2, 2, 2, 4, 4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 90, 90]

In [83]:
#35
a5 = []
for x in range(10):
    a5.append(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
#36
total = 0
for numbers in a:
    if numbers>0:
        total+=numbers
print(total)

45

In [85]:
#37
total1 = 0
for numbers in a:
    if numbers<0:
        total1+=numbers
print(total1)

0

In [86]:
#38
flag2 = True
for i in range(len(a)//2):
    if a[i] != a[-(i+1)]:
        flag2 = False
        break
print(flag2)

False

In [89]:
#39
a9 = []
a7 = a[0:3]
a8 = a[3:]
a9.append(a8)
a9.append(a7)
print(a9)

[[3, 4, 5, 6, 7, 8, 9], [0, 1, 2]]

In [90]:
#40
uniq = []
for elements in list(set(a)):
    if a.count(elements) == 1:
        uniq.append(elements)
print(uniq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

TUPLES

In [91]:
#1
my_tuple = (1, 4, 7, 3, 5, 8, 3, 7, 8)
print(my_tuple.count(7))

2

In [92]:
#2
max(my_tuple)

8

In [93]:
#3
min(my_tuple)

1

In [94]:
#4
9 in my_tuple

False

In [95]:
#5
if my_tuple:
    print(my_tuple[0])

1

In [97]:
#6
if my_tuple:
    print(my_tuple[-1])

8

In [98]:
#7
len(my_tuple)

9

In [99]:
#8
yangi = my_tuple[0:3]
print(yangi)

(1, 4, 7)

In [103]:
#9
t1 = (6, 7, 2)
t3 = t1 + my_tuple
print(t3)

(6, 7, 2, 1, 4, 7, 3, 5, 8, 3, 7, 8)

In [104]:
#10
bool(my_tuple)

True

In [106]:
#11
indexes_t = []
valueeT = 7
for i2 in range(len(my_tuple)):
    if my_tuple[i2] == valueeT:
        indexes_t.append(i2)

print(indexes_t)

[2, 7]

In [107]:
#12
print(sorted(list(set(my_tuple)))[-2])

7

In [108]:
#13
print(sorted(list(set(my_tuple)))[1])

3

In [109]:
#14
s_tuple = (2,)

In [113]:
#15
listt = [1,2]
tuplee = tuple(listt)
print(tuplee)

(1, 2)

True

In [114]:
#16
if tuplee == tuple(sorted(tuplee)):
    print(True)
else:
    print(False)

True

In [115]:
#17
max(my_tuple[0:3])

7

In [116]:
#18
min(my_tuple[0:3])

1

In [120]:
#19
my_tuple_list = list(my_tuple)
my_tuple_list.remove(7)
tuple(my_tuple_list)

(1, 4, 3, 5, 8, 3, 7, 8)

In [122]:
#20
t7 = my_tuple[0:3]
t8 = my_tuple[3:]
t9 = (t7, t8)
print(t9)

((1, 4, 7), (3, 5, 8, 3, 7, 8))

In [123]:
#21
t10 = my_tuple * 2
print(t10)

(1, 4, 7, 3, 5, 8, 3, 7, 8, 1, 4, 7, 3, 5, 8, 3, 7, 8)

In [127]:
#22
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [124]:
#23
my_tuple[::-1]

(8, 7, 3, 8, 5, 3, 7, 4, 1)

In [125]:
#24
my_tuple == my_tuple[::-1]

False

In [128]:
#25
k = []
for i in my_tuple:
    if i not in k:
        k.append(i)
tuple(k)

(1, 4, 7, 3, 5, 8)

SET

In [132]:
#1
set_1 = {1, 2, 4}
set_2 = {2, 4, 6}
set_2.union(set_1)

{1, 2, 4, 6}

In [133]:
#2
set_1.intersection(set_2)

{2, 4}

In [134]:
#3
set_1.difference(set_2)

{1}

In [135]:
#4
set_1.issubset(set_2)

False

In [137]:
#5
6 in set_1

False

In [136]:
#6
len(set_1)

3

In [140]:
#7
slist = [1, 2, 1, 3, 4, 4]
set(slist)

{1, 2, 3, 4}

In [142]:
#8
set_1.remove(1)
print(set_1)

KeyError: 1

In [143]:
#9
set_1.clear()

In [144]:
#10
bool(set_1)

False

In [145]:
#11
set_1 = {1, 2, 4}
set_1.symmetric_difference(set_2)

{1, 6}

In [149]:
#12
set_1.add(5)

{1, 2, 4, 5}

In [155]:
#13
setremove = set_1.remove(1)
print(setremove)

KeyError: 1

In [156]:
#14
max(set_2)

6

In [157]:
#15
min(set_2)

2

In [161]:
#16
set_3 = []
for element in set_2:
    if element % 2 == 0:
        set_3.append(element)
print(set(set_3))

{2, 4, 6}

In [162]:
#17
set_4 = []
for element in set_2:
    if element % 2 == 1:
        set_4.append(element)
print(set(set_4))

set()

In [165]:
#18
set(list(range(10)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [168]:
#19
set_2.symmetric_difference(set_1)

{2, 4, 6}

In [169]:
#20
set_2.isdisjoint(set_1)

True

In [170]:
#21
list12 = [1, 2,3, 4, 1,2, 4]
list(set(list12))

[1, 2, 3, 4]

In [171]:
#22
len(set(list12))

4

In [201]:
#23
import random
random_set = {random.randint(1, 10) for _ in range(10)}
print(random_set)

{1, 2, 3, 5, 6, 8, 9, 10}

DICTIONARY

In [250]:
#1
my_dict = {
    "Q" : "Qarmoq",
    "A" : "Ayiq",
    "B" : "Baliq"
}
my_dict.get("A")

'Ayiq'

In [209]:
#2
"D" in my_dict

False

In [210]:
#3
len(my_dict)

3

In [212]:
#4
list(my_dict.keys())

['A', 'B', 'Q']

In [213]:
#5
list(my_dict.values())

['Ayiq', 'Baliq', 'Qarmoq']

In [216]:
#6
my_dict2 = {
    "W" : "Wolf"
}
my_dict.update(my_dict2)
print(my_dict)

{'A': 'Ayiq', 'B': 'Baliq', 'Q': 'Qarmoq', 'W': 'Wolf'}

In [220]:
#7
my_dict.pop("W", None)

In [221]:
#8
my_dict2.clear()

In [223]:
#9
bool(my_dict)

True

In [226]:
#10
print("A : ", my_dict.get("A"))

A :  None

In [227]:
#11
my_dict["A"] = "Ari"
print(my_dict)

{'A': 'Ari', 'B': 'Baliq', 'Q': 'Qarmoq'}

In [228]:
#12
list(my_dict.values()).count("Qarmoq")

1

In [229]:
#13
inverted = {}
for k, v in my_dict.items():
    inverted[v] = k
print(inverted)

{'Ari': 'A', 'Baliq': 'B', 'Qarmoq': 'Q'}

In [230]:
#14
keyss = []
for ke, ve in my_dict.items():
    if ve == "Baliq" :
        keyss.append(ke)
print(keyss)

['B']

In [231]:
#15
dlist = ["A", "B", "C"]
dlist2 = ["1", "2", "3"]
yangi_set = {}
for i in range(len(dlist)):
    yangi_set[dlist[i]] = dlist2[i]
print(yangi_set)

{'A': '1', 'B': '2', 'C': '3'}

In [234]:
#16
llll = []
for kee, vall in yangi_set.items():
    if isinstance(vall, dict):
        llll.append(kee)
print(llll)

[]

In [235]:
#17
kl = {
    "x" : {"y" : "z"}
}
kl.get("x").get("y")

'z'

In [238]:
#18
my_dict.get("d", None)

In [ ]:
#19
len(set(my_dict.values()))

In [252]:
#20
dict(sorted(my_dict.items()))

{'A': 'Ayiq', 'B': 'Baliq', 'Q': 'Qarmoq'}

In [254]:
#21
dict(sorted(my_dict.items(), key=lambda val: val[1]))

{'A': 'Ayiq', 'B': 'Baliq', 'Q': 'Qarmoq'}

In [ ]:
#22

In [255]:
#23
set(my_dict.keys()) & set(yangi_set.keys())

{'A', 'B'}

In [256]:
#24
dtuple = (('A', 1), ('B', 2), ('C', 3))
dict(dtuple)

{'A': 1, 'B': 2, 'C': 3}

In [257]:
#25
list(my_dict.items())[0]

('Q', 'Qarmoq')